<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Upload </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">

        <!-- 可选的Bootstrap主题文件（一般不使用） -->
        <script src="/static/admin/css/bootstrap-theme.min.css"></script>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">

</head>
<body class="login" data-admin-utc-offset="0">
<p align="right"> <a href="/accounts/logout/" >log out</a></p>
<h2 align="center">Release Iso</h2>
<!-- Container -->
<div id="maincontainer">
<div class="table-responsive">
<table class="table">
	<thead>
	<tr>
		<th> id </th>
		<th> version </th>
		<th> ownername </th>
		<th> isofile </th>
		<th> state </th>
		<th> action </th>
	</tr>
	</thead>
	<tbody>
	{% for item in query_results %}
	<tr>
		<td>{{ item.id }}</td>	
		<td>{{ item.version }}</td>
		<td> {{ item.ownername }}</td>
		<td> {{ item.isofile }}</td>
		{% if item.release == "false" %}
                <td> pre release </td>
		<td><form action="/releaseIso/" method="get" > {% csrf_token %} 
		<input type="hidden" name="id" value="{{item.id}}">
		<input type="submit" value="release" /> </form></td>	
		{% else %}
                <td>released</td>
		<td><form action="/withdrawIso/" method="get" > {% csrf_token %} 
		<input type="hidden" name="id" value="{{item.id}}">
		<input type="submit" value="withdraw" /> </form></td>	
		{% endif %}
			
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
<div align="center">
	<form action="/upload/" method="get">
		<input type="hidden">
		<input type="submit" value="add iso">
	</form>
</div>
</div>
</body>
</html>
